@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    var errorMessage = TempData["ErrorMessage"] as string;
}

<h3 class="text-danger">Error!</h3>
<p class="text-danger">@errorMessage</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}