@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}
<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.UserName">@cheep.Author.UserName</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }

    else
    {
        <em>There are no cheeps so far.</em>
    }

    <div class="pagination">
        @for (int i = 1; i <= Math.Ceiling((double)Model.totalCheeps / Model.cheepsPerPage); i++)
        {
            <a href="/?page=@i">@i</a>
        }
    </div>

</div>
