// Application
src/Chirp.CLI/obj/
src/Chirp.CLI/bin/
src/CSVDB/obj/
src/CSVDB/bin/
src/Chirp.WebService/bin/
src/Chirp.Webservice/obj/

// Test
tests/CSVDB.Tests/obj/
tests/CSVDB.Tests/bin/
tests/Chirp.CLI.Tests/obj/
tests/Chirp.CLI.Tests/bin/

.fake
.DS_Store