// Application
src/Chirp.CLI/bin/
src/Chirp.CLI/obj/
src/CSVDB/obj/

// Test
tests/CSVDB.Tests/obj/
tests/Chirp.CLI.Tests/bin/
tests/Chirp.CLI.Tests/obj/


//Webservice
src/Chirp.WebService/bin/
src/Chirp.Webservice/obj/
src/CSVDB/obj/
.fake
