@page "/Account/Logout"
@model LogoutModel
@{
    ViewData["Title"] = "Do you wish to Logout?";
}

<header>
    <h3>@ViewData["Title"]</h3>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Click here to confirm logout</button>
        </form>
        <a class="nav-link text-dark" asp-area="" asp-page="/Public">Click here to return to the Front Page</a>
    }
    else
    {
        <p>You have successfully logged out of the application.</p>
    }
</header>