/*******************************

          GENERAL CSS 
#f0fafa
*********************************/
html {
  position: relative;
  min-height: 100%;
}

body {
  background: #258cfb;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

a {
  color: #26776F;
}

a:hover {
  color: #333;
}

.btn {
  padding: 0;
  margin: 0;
  background: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

input[type="text"],
input[type="password"] {
  background: white;
  border: 1px solid #08488b;
  padding: 2px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #08488b;
}

input[type="submit"] {
  background: #08488b;
  border: 1px solid #02254b;
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: white;
}

div.page {
  background: white;
  border: 1px solid #258cfb;
  width: 720px;
  margin: 30px auto;
}

div.page h1 { /* [CHECK] Consider having the same for h3 */
  background: #258cfb;
  margin: 0;
  padding: 10px 14px;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 3px #08488b;
  font-weight: normal;
  font-size: 80px;
}

div.page h1 img {
  height: 1em;
}

div.page h2 { 
  margin: 0 0 15px 0;
  color: #08488b;
  text-shadow: 0 1px 2px #ccc;
}

div.page div.body {
  padding: 10px;
}

div.page div.footer { /*[REPEAT WITH OTHER FILE]*/
  background: #eee;
  color: #888;
  padding: 5px 10px;
  font-size: 12px;
}

/*******************************

          SHARED CSS 

*********************************/
div.page ul.cheeps { 
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page ul.cheeps button
{
  padding: 0px;
  margin: 0px;
  background: none;
}

div.page ul.cheeps li { /* [CHECk - TEST] Use case? */
  position: relative;
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 48px;
}

div.page ul.cheeps p {
  margin: 0;
}

div.page ul.cheeps li img { /* [CHECk] Does this ever get used? */
  float: left;
  padding: 0 10px 0 0;
}

div.page ul.cheeps li small {
  font-size: 0.9em;
  color: #888;
}

div.page ul.cheeps li button
{
  background: none;
  border: none;
  position: relative;
}

/*******************************

        POST CHEEP 

*********************************/
div.page div.post-cheep-wrapper { /* [CHECk] Rename type form to 'cheepbox' */
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.page div.post-cheep-wrapper p { 
  margin: 0;
}

div.page div.post-cheep-wrapper input[type="text"] { 
  width: 585px;
}

div.page div.post-cheep-wrapper .post-cheep-button-wrapper { 
  width: 70px;
  margin-left: 5px;
}

div.error { 
  margin: 10px 0;
  background: #FAE4E4;
  border: 1px solid #DD6F6F;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

/* USER TIMELINE */
.user-time-line-header-container
{
  display: flex;
}


/* CHEEP CONTENT MAIN WRAPPER */
div.page ul.cheeps li .cheep-wrapper
{
  display: grid;
  padding: 5px;
  grid-template-columns: auto;
  row-gap: 8px;
}

/*Doesn't do a damn thing....*/ 
div.page ul.cheeps li .cheep-wrapper .cheep-content-wrapper
{
  padding: 10px;
}

div.page ul.cheeps li .cheep-wrapper .cheep-profilepicture-name-time
{
  height: 50px;
  object-fit: fill;
  display: flex;
}

div.page ul.cheeps li .cheep-wrapper .cheep-profilepicture-name-time .cheep-name-time
{
  display: flex;
  flex-direction: column;
}

/* PROFILE PICTURE */
div.page ul.cheeps li .cheep-wrapper .cheep-profilepicture-name-time img
{
  object-fit: contain;
  border-radius: 4px;
}

/* CHEEP TEXT & UTILITY (i.e. Likes, Dislikes) */


/* UTIL */
div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper
{
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
  padding: 2px;
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box
{
  width: 200px;
  height: 30px;
  border-top: 1px solid #a3a0a0;
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box button
{
  background: none;
  border: none;
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill; 
  transition: background 0.3s ease;
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box button:hover
{
  background:#e5ebee;
}

/* UTIL - FOLLOW / UNFOLLOW */
div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box /*.form-input-button*/ img
{
  object-fit: cover; 
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box #likeDis {
  display: flex;
  gap: 5px;
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box #likeDis button {
  flex: 1;
}

/*****************************************

    DISPLAYING NUM LIKES / DISLIKES 

*****************************************/
div.page ul.cheeps li .cheep-wrapper .cheep-number-likes-dislikes-wrapper
{
  display: flex;
  flex-direction: row;
  height: 30px;
  /* [TESTING] background: red;  */
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-grid-box #likeDis button
{
  display: flex;
  flex-direction: column;
}

div.page ul.cheeps li .cheep-wrapper .cheep-number-likes-dislikes-wrapper small img
{
  object-fit: cover;
}

div.page ul.cheeps .cheep-profilepicture-usertimeline img
{
  object-fit: contain;
  border-radius: 4px;
  height: 60px;
}

/*********************

      DELETE CHEEP 

*********************/
div.page ul.cheeps li .cheep-wrapper .cheep-delete-wrapper
{
  position: absolute;
  top: 5px;
  right: 0px;
  display: inline-flex;
  visibility: hidden;
  margin: 0;
  padding: 0px;
  transition: visibility;
}

div.page ul.cheeps li:hover .cheep-delete-wrapper
{
  visibility: visible;
}


/*********************

      FORGET ME

*********************/
div.page .user-time-line-header-container {
  position: relative;
}

div.page .user-time-line-header-container .trigger-forget-me-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}

div.page .user-time-line-header-container .trigger-forget-me-wrapper .open-forget-me-button
{
  color: #fff;
  background: rgb(235, 69, 69);
  opacity: 0.75;
  transition: opacity 0.3s ease;
}

div.page .user-time-line-header-container .trigger-forget-me-wrapper .open-forget-me-button:hover
{
  background: rgb(235, 69, 69);
  opacity: 1.0;
}

.frost-panel
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 10;
}

.pop-up-window {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  z-index: 1000;
}

.forget-me-popup .forget-me-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
}

.forget-me-popup .forget-me-wrapper .close-forget-me-popup-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}

.forget-me-popup .forget-me-wrapper .close-forget-me-popup-wrapper .close-forget-me-popup-button {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.forget-me-popup .forget-me-wrapper .close-forget-me-popup-wrapper .close-forget-me-popup-button:hover {
  opacity: 1.0;
}



/*
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
*/