/*******************************

      GENERAL / SHARED  CSS 
#f0fafa
*********************************/
html {
  position: relative;
  min-height: 100%;
}

body {
  background: #258cfb;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

a {
  color: #26776F;
}

a:hover {
  color: #333;
}

.btn {
  padding: 0;
  margin: 0;
  background: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus, .post-cheep-form-control:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

input[type="submit"] {
  background: #08488b;
  border: 1px solid #02254b;
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: white;
}

div.page {
  background: white;
  border: 1px solid #258cfb;
  width: 720px;
  margin: 30px auto;
}

div.page h1 { /* [CHECK] Consider having the same for h3 */
  background: #258cfb;
  margin: 0;
  padding: 10px 14px;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 3px #08488b;
  font-weight: normal;
  font-size: 80px;
}

div.page h1 img {
  height: 1em;
}

div.page h2 { 
  margin: 0 0 15px 0;
  color: #08488b;
  text-shadow: 0 1px 2px #ccc;
}

div.page div.body {
  padding: 10px;
}

div.page div.footer { /*[REPEAT WITH OTHER FILE]*/
  background: #eee;
  color: #888;
  padding: 5px 10px;
  font-size: 12px;
}

div.page ul.cheeps { 
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page ul.cheeps button
{
  padding: 0px;
  margin: 0px;
  background: none;
}

div.page ul.cheeps li { 
  position: relative;
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 48px;
}

div.page ul.cheeps li img { /* [CHECk] Does this ever get used? */
  float: left;
  padding: 0 10px 0 0;
}

div.page ul.cheeps li small {
  font-size: 0.9em;
  color: #888;
}

/*******************************

        POST CHEEP 

*********************************/
div.page div.post-cheep-wrapper {   
  margin: 10px 0;
  padding: 5px;
  background: #F0FAF9;
  border: 1px solid #DBF3F1;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: #02254b;
  display: flex;
  flex-direction: column;
}

div.page div.post-cheep-wrapper div.post-cheep-button-wrapper { 
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

div.page div.post-cheep-wrapper div.post-cheep-button-wrapper button.post-cheep-button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #258cfb;
  color: #fff;
  padding: 10;
}

div.page div.post-cheep-wrapper input[type="text"] { 
  position: relative;
  width: 100%;
  border: none;
}

div.error { 
  margin: 10px 0;
  background: #FAE4E4;
  border: 1px solid #DD6F6F;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

/* USER TIMELINE */
.user-time-line-header-container
{
  display: flex;
}


/* CHEEP CONTENT MAIN WRAPPER */
div.page div.post-cheep-wrapper,
div.page ul.cheeps li div.cheep-wrapper
{
  display: grid;
  padding: 5px;
  grid-template-columns: auto;
  row-gap: 8px;
}

div.page div.post-cheep-wrapper div.post-cheep-profilepicture,
div.page ul.cheeps li div.cheep-wrapper div.cheep-profilepicture-name-time
{
  height: 50px;
  object-fit: fill;
  display: flex;
}

div.page ul.cheeps li div.cheep-wrapper div.cheep-profilepicture-name-time div.cheep-name-time
{
  display: flex;
  flex-direction: column;
}

div.page div.post-cheep-wrapper div.post-cheep-profilepicture img,
div.page ul.cheeps li div.cheep-wrapper div.cheep-profilepicture-name-time img
{
  object-fit: contain;
  border-radius: 4px;
}

/* CHEEP TEXT & UTILITY (i.e. Likes, Dislikes) */


/* UTIL */
div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper
{
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
  padding: 2px;
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box
{
  width: 200px;
  height: 30px;
  border-top: 1px solid #a3a0a0;
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box button
{
  background: none;
  border: none;
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill; 
  transition: background 0.3s ease;
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box button:hover
{
  background-color: #c1c1c1;
}

ul.navbar-nav li.nav-item a.nav-link
{
  position: relative;
}

ul.navbar-nav li.nav-item a.nav-link::after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #747474;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: .2s all ease-out;
}

ul.navbar-nav li.nav-item a.nav-link:hover::after
{
  transform: scale(1);
}

/* UTIL - FOLLOW / UNFOLLOW */
div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box /*.form-input-button*/ img
{
  object-fit: cover; 
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box #likeDisForm {
  display: flex;
  gap: 5px;
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-wrapper .cheep-func-grid-box #likeDisForm button {
  flex: 1;
}

/*****************************************

    DISPLAYING NUM LIKES / DISLIKES 

*****************************************/
div.page ul.cheeps li .cheep-wrapper .cheep-number-likes-dislikes-wrapper
{
  display: flex;
  flex-direction: row;
  height: 30px;
}

div.page ul.cheeps li .cheep-wrapper .cheep-func-grid-box #likeDisForm button
{
  display: flex;
  flex-direction: column;
}

div.page ul.cheeps li .cheep-wrapper .cheep-number-likes-dislikes-wrapper small img
{
  object-fit: cover;
}

div.page ul.cheeps .cheep-profilepicture-usertimeline img
{
  object-fit: contain;
  border-radius: 4px;
  height: 60px;
}

/*********************

      DELETE CHEEP 

*********************/
div.page ul.cheeps li .cheep-wrapper .cheep-delete-wrapper
{
  position: absolute;
  top: 5px;
  right: 0px;
  display: inline-flex;
  visibility: hidden;
  margin: 0;
  padding: 0px;
  transition: visibility;
}

div.page ul.cheeps li:hover .cheep-delete-wrapper
{
  visibility: visible;
}

/*********************

      PAGINATION

*********************/
div.pagination {
  display: flex;
  flex-wrap: wrap;
}

div.pagination a {
  text-decoration: none;
  color: rgb(121, 121, 121);
  padding-left: 5px;
  padding-right: 5px;
}

div.pagination a:hover {
  color: rgb(0, 153, 255);
  text-decoration: underline;
}

/*********************

      FORGET ME

*********************/
div.page .user-time-line-header-container {
  position: relative;
}

div.page .user-time-line-header-container div.trigger-forget-me-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}

div.page .user-time-line-header-container div.trigger-forget-me-wrapper .open-forget-me-button
{
  color: #fff;
  background: rgb(235, 69, 69);
  opacity: 0.75;
  transition: opacity 0.3s ease;
}

div.page .user-time-line-header-container div.trigger-forget-me-wrapper .open-forget-me-button:hover
{
  background: rgb(235, 69, 69);
  opacity: 1.0;
}

div.frost-panel
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 10;
}

.pop-up-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  z-index: 1000;
}

div.forget-me-popup div.forget-me-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

div.forget-me-popup div.forget-me-wrapper .close-forget-me-popup-wrapper {
  position: absolute;
  top: -20px;
  right: -20px;
}

div.forget-me-popup div.forget-me-wrapper .close-forget-me-popup-wrapper .close-forget-me-popup-button {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

div.forget-me-popup div.forget-me-wrapper .close-forget-me-popup-wrapper .close-forget-me-popup-button:hover {
  opacity: 1.0;
}

div.forget-me-popup div.forget-me-wrapper strong.forget-me-popup-warning {
  font-size: 24px;
  color: red;
}

div.forget-me-popup div.forget-me-wrapper div.forget-me-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.forget-me-popup div.forget-me-wrapper div.forget-me-button-wrapper button.forget-me-button {
  color: #fff;
  background: rgb(235, 69, 69);
}

div.forget-me-popup div.forget-me-wrapper div.forget-me-text {
  padding: 10px 0px 10px 0px;
  
}

/*********************

  DROP DOWN RANKING

*********************/
input[type="checkbox"],
div.dropdown-content,
input[type="radio"] {
  display: none;
}

div.dropdown-wrapper {
  position: relative;
  right: 5px;
  top: 5px;
  margin: 0 auto;
  max-width: 260px;
  width: 100%;
}

div.dropdown-wrapper.active div.dropdown-content {
  display: block;
  z-index: 1;
}

div.dropdown-content {
  border-radius: 5px;
  position: absolute;
  border: 1px solid #b3b3bf;
  padding: 15px;
  left: 20%;
  top: 60px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 230px;
}

div.dropdown-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

div.dropdown-content li {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dcdbe5;
  &:last-child{
    border-bottom:0;
    padding-bottom:0;
  }
  display: inline-flex;
}

div.dropdown-content ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

div.dropdown-content ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.25s linear;
}

div.dropdown-content ul li div.check {
  position: relative;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 20%;
  left: 0px;
  z-index: -1;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

div.dropdown-content ul li div.check::before {
  scale: 0.75;
  display: block;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  right: 5px;
  z-index: -1;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ div.check {
  border: 5px solid #0d72ff;
}

input[type=radio]:checked ~ div.check::before{
  background: #0d72ff;
}

input[type=radio]:checked ~ label{
  color: #0d72ff;
}

div.dropdown-content:after, div.dropdown-content:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

div.dropdown-content:after {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #ffff;
  border-width: 10px;
  margin-left: -10px;
}
div.dropdown-content:before {
  border-color: rgba(179, 179, 191, 0);
  border-bottom-color: #b3b3bf;
  border-width: 11px;
  margin-left: -11px;
}

div.icon-wrapper button.toggle-dropdown-button {
  margin-left: 5px;
  background: #dcdbe5;
  opacity: 0.7;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #000;
  padding: 10px;
  transition: background color 0.3s ease;
}

div.icon-wrapper button.toggle-dropdown-button:hover {
  background: #258cfb;
  color: #fff;
}

div.icon-wrapper li:hover {
  background: rgba(227, 226, 226, 0.399);
}

div.icon-wrapper {
  position: fixed;
  top: 15px;
  right: 10px;
}