@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    <ul id="messagelist" class="cheeps">
    @if (Model.Cheeps.Any())
    {
        @foreach (var cheep in Model.Cheeps)
        {
            if (cheep.Author.Name.Equals(routeName.ToString()))
            {
                <li>
                        <p>
                            <strong>
                                <a href="/@cheep.Author.Name">@cheep.Author.Name</a>
                                
                            </strong>
                            @cheep.Text
                            <small>&mdash; @cheep.TimeStamp</small>
                        </p>
                </li>
            }
        }
    }
    </ul>
</div>
